html {
  height: 100%;
  width: 100%;
}
body{
  height: 100hv;
  background-image: radial-gradient(ellipse closest-corner, pink, orange, red);
}

header {
  background-color: slateblue;
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
}

header h1 {
  text-align: center;
  color: white;
  border: 2px solid black;
  background-color: slategrey;
}

.grid-outer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;

  background-color: slategrey;
  border: 2px solid black;
  padding: 10px;
}

.grid-inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 10px;

}

.grid-item-title {
  background-color: slateblue; 
  border: 2px solid white; 
  height: 20vh;
  display:flex;
  justify-content: center;
  align-items: center;
}

.grid-item-title h1 {
  color: white;
  text-align: center;
  background-color: grey;
  border: 2px solid black;
}

.grid-item-linear-gradient {
  height: 200px;
  width: 200px;
  border: 2px solid white;

  background-image: linear-gradient(to top left, purple, pink, blue);
}

.grid-item-radial-gradient {
  height: 200px;
  width: 200px;
  border: 2px solid white;

  background-image: radial-gradient(circle closest-corner, pink, purple);
}

.grid-item-radial-gradient-multicolor {
  height: 200px;
  width: 200px;
  border: 2px solid white;

  background-image: radial-gradient(ellipse closest-corner, pink, orange, red);
}

.grid-item-image-filter-greyblur {
  height: 200px;
  width: 200px;
  border: 2px solid white;
  overflow: hidden;  
}

.grid-item-image-filter-greyblur img {
  height: 100%;
  width: 100%;

  object-fit: cover; 

  filter: brightness(0.8) contrast(1.2) grayscale(100%) blur(3px);
}

.grid-item-image-filter-lemon {
  height: 200px;
  width: 200px;
  border: 2px solid white;
  overflow: hidden;  

  background-color: rgba(255, 255, 0, 0.3);
}

.grid-item-image-filter-lemon img {
  height: 100%;
  width: 100%;

  object-fit: cover; 

  mix-blend-mode: multiply;
  filter: brightness(1.3);
  
}

.grid-item-text-box {
  display: flex;
  height: 200px;
  width: 200px;
  border: 2px solid white;
  overflow: hidden;  

  justify-content: center;
  align-items: center;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.grid-item-text-box p {
  color: white;
  font-size: 2em;
  animation: fadeIn 0.5s ease-in-out infinite alternate;  
}



